/*
    You can add your own custom styles here.
*/

.sidebar.left-sidebar {
    height: auto !important;
    max-height: none !important;
    overflow: visible ;
  }


  .table-of-contents .toc-level-3,
  .table-of-contents .toc-level-4,
  .table-of-contents .toc-level-5,
  .table-of-contents .toc-level-6 {
    display: none;
  }