<section class="widget info-widget">
  <figure class="site-avatar">
    <img src="/img/avatar-%E6%88%91%E6%98%AF%E4%B8%80%E4%B8%AA%E5%90%91%E6%97%A5%E8%91%B5%E6%9C%BA%E5%99%A8%E4%BA%BA_hu_35750cab1ec74308.png" width="300" height="266" class="site-logo" loading="lazy" alt="Avatar">
    <span class="emoji">🌻</span>
  </figure>
  <div class="site-meta">
    <h1 class="site-name">日晞之野 Sunlit Cosmos</h1>
    <h2 class="site-description">嗨！这里是 Kristine！一个向日葵机器人，一个想用文字改变世界的人，正在践行存在主义的心理学人。记录故事，诠释生命。分享个人成长与泛心理内容，致力于消除性少数与心理障碍的污名化，促进性/别多元与神经多样性的平等。</h2>
    {{ with .Site.Menus.social }}
      <nav class="site-social">
        {{ range . }}
          <a href="{{ .URL }}" target="_blank" rel="noopener" title="{{ .Name }}">
            {{ partial "helper/icon.html" (dict "name" .Params.icon "width" 24 "height" 24) }}
          </a>
        {{ end }}
      </nav>
    {{ end }}
  </div>
</section> 