{{- $context := .Context -}}
{{- $TOCEnabled := $context.Scratch.Get "TOCEnabled" -}}
{{- $widgets := $context.Site.Params.widgets.page -}}
{{- if $widgets }}
    <aside class="sidebar right-sidebar sticky">
        {{ range $widget := $widgets }}
            {{- if eq $widget.type "toc" -}}
                {{- if $TOCEnabled -}}
                    {{- $params := default dict $widget.params -}}
                    {{ partial (printf "widget/%s" $widget.type) (dict "Context" $context "Params" $params) }}
                {{- end -}}
            {{- else if templates.Exists (printf "partials/widget/%s.html" $widget.type) -}}
                {{- $params := default dict $widget.params -}}
                {{ partial (printf "widget/%s" $widget.type) (dict "Context" $context "Params" $params) }}
            {{- else -}}
                {{ warnf "Widget %s not found" $widget.type }}
            {{- end -}}
        {{ end }}
    </aside>
{{- end }}